<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pile-up</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="top-wrapper">
            <div class="top-detail">
                <div class="content">
                  <h2 class="subtitle">Plie-up</h2>
                  <p class="description">Pile-upでは参考書や技術書の読み進めたページ数を登録できます。<br></p>
                   <p class="description2">Pile-upを使って進捗を管理しましょう。</p>
                  <a class="index-button" href="/list">利用する</a>
                </div>
            </div>
        </div>
    </body>
</html>